{% macro page_in_list(page) %}
                    <header class="entry-header">
                        <a href="{{ page.permalink }}">
                            <h2>{{ page.title }}</h2>
                        </a>
                    </header>
                    <div class="post-content">{{ page.content | safe }}</div>
                    <footer class="entry-footer">
                        {% if page.taxonomies.tags %}
                        <ul class="post-tags">
                        {% for tag in page.taxonomies.tags %}
                            <li><a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">{{ tag }}</a></li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                        <a href="{{ page.permalink }}">
                            <time>{{ page.date | date(format="%B %e, %Y") }}</time>
                        </a>
                    </footer>
{% endmacro page_in_list %}
